<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CaseFiles</title>
    <script src="https://kit.fontawesome.com/067464fdf4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="body-dark-bg">
    <header>
        <div class="sidebar shadow">
            <img src="~/icons/paper.svg" class="pl-2 pb-2 d-inline" style="width: 18%;">
            <a class="text-white sidebar-header" asp-area="Identity" asp-page="/Account/Login">CaseFiles</a>
            <div class="mt-4">
                <a class="btn btn-primary text-white sidebar-btn btn-text shadow">
                    <i class="fas fa-folder-plus fa-3x pr-1 pb-3 align-middle"></i>
                    Create Case
                </a>
            </div>
            <a class="btn btn-audio text-white sidebar-btn btn-text shadow">
                <i class="fas fa-microphone fa-3x pr-1 pb-3 align-middle"></i>
                Add Audio
            </a>
            <a class="btn btn-image text-white sidebar-btn btn-text shadow">
                <i class="far fa-images fa-3x pr-1 pb-3 align-middle"></i>
                Add Image
            </a>
        </div>
    </header>

    <div class="container">
        <main role="main" class="main pb-3 text-white">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-muted">
        <div class="text-right pr-3">
            &copy; 2020 - CaseFiles @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
