@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row text-white">
    <div class="col-lg-10 offset-lg-1 col-sm-12">
        <div class="pt-5 text-center">
            <img src="~/icons/paper.svg" style="width: 30%">
        </div>
        <section class="pb-2">
            <form id="account" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="warning-login"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="warning-login"></span>
                </div>
            @*    <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="Input.RememberMe">
                            <input asp-for="Input.RememberMe" />
                            @Html.DisplayNameFor(m => m.Input.RememberMe)
                        </label>
                    </div>
                </div>*@
                <div class="row mt-4">
                    <div class="col-6">
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl" class="btn btn-primary w-100">Sign up</a>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <button type="submit" class="btn btn-success w-100">Log in</button>
                        </div>
                    </div>
                </div>
               
                <div class="form-group">
                    <p>
                        <a  class="text-white" id="forgot-password" asp-page="./ForgotPassword">Forgot your password?</a>
                    </p>
                    @*<p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Register as a new user</a>
                    </p>*@
                </div>
            </form>
        </section>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
