@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="row text-white">
    <div class="col-lg-10 offset-lg-1 col-sm-12">
        <h2 class="pt-4 pb-3">Create a new account.</h2>
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="model-error-ul"></div>
            <div class="form-group">
                <label asp-for="Input.Name"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="warning-login"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="warning-login"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="warning-login"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="warning-login"></span>
            </div>
            <div class="row mt-4 mb-4">
                <div class="col-6">
                    <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-primary w-100">Go back to Login</a>
                </div>
                <div class="col-6">
                    <button type="submit" class="btn btn-success w-100">Register</button>
                </div>
            </div>
            
        </form>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
